/*COULEURS*/
/*MIXINS*/
/*FONTS*/
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shrikhand';
  src: url("../fonts/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*PROPRIETES GENERALES*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0px;
  font-family: 'Roboto';
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: #000000;
}

/*BOUTONS*/
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFF;
  margin-top: 10px;
  padding: 17px;
  border-radius: 25px;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  border: none;
  font-size: 14px;
  -webkit-box-shadow: 1px 4px 4px #d8d7d7;
          box-shadow: 1px 4px 4px #d8d7d7;
}

.btn:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0.85;
  -webkit-box-shadow: 1px 4px 4px 0.5px #adadad;
          box-shadow: 1px 4px 4px 0.5px #adadad;
}

.btncmd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0px 40px 0px;
  cursor: pointer;
}

.btncmd .btn {
  width: 200px;
}

/*PAGE DE CHARGEMENT*/
.chargement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Shrikhand";
  font-size: 35px;
  z-index: 10;
  background: #FFF;
  opacity: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-animation: loading 3.5s forwards;
          animation: loading 3.5s forwards;
}

.chargement__oh {
  -webkit-animation: oh 1s ease-in-out both, coloroh 1.5s 1s both;
          animation: oh 1s ease-in-out both, coloroh 1.5s 1s both;
}

.chargement__my {
  -webkit-animation: my 1.5s ease-in-out both, colormy 1.5s 1s both;
          animation: my 1.5s ease-in-out both, colormy 1.5s 1s both;
}

.chargement__food {
  -webkit-animation: food 2s ease-in-out both, colorfood 2.3s 1.1s both;
          animation: food 2s ease-in-out both, colorfood 2.3s 1.1s both;
}

.chargement__logoturn {
  border: solid 4px #f6f6f6;
  border-top: solid 4px #9356DC;
  border-bottom: solid 4px #9356DC;
  border-left: solid 4px #99E2D0;
  border-right: solid 4px #99E2D0;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin-left: 20px;
  -webkit-animation: spin 0.45s linear infinite, opa 2s both;
          animation: spin 0.45s linear infinite, opa 2s both;
}

@-webkit-keyframes oh {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes oh {
  0% {
    -webkit-transform: translateX(-1000%);
            transform: translateX(-1000%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes my {
  0% {
    -webkit-transform: translateY(1000%);
            transform: translateY(1000%);
  }
  30% {
    -webkit-transform: translateY(800%);
            transform: translateY(800%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes my {
  0% {
    -webkit-transform: translateY(1000%);
            transform: translateY(1000%);
  }
  30% {
    -webkit-transform: translateY(800%);
            transform: translateY(800%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes food {
  0% {
    -webkit-transform: translateY(-1000%);
            transform: translateY(-1000%);
  }
  50% {
    -webkit-transform: translateY(-800%);
            transform: translateY(-800%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes food {
  0% {
    -webkit-transform: translateY(-1000%);
            transform: translateY(-1000%);
  }
  50% {
    -webkit-transform: translateY(-800%);
            transform: translateY(-800%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes loading {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes loading {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes opa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes coloroh {
  0% {
    color: #000000;
  }
  50% {
    color: #9356DC;
  }
  100% {
    color: #FF79DA;
  }
}

@keyframes coloroh {
  0% {
    color: #000000;
  }
  50% {
    color: #9356DC;
  }
  100% {
    color: #FF79DA;
  }
}

@-webkit-keyframes colormy {
  0% {
    color: #000000;
  }
  50% {
    color: #9356DC;
  }
  100% {
    color: #FF79DA;
  }
}

@keyframes colormy {
  0% {
    color: #000000;
  }
  50% {
    color: #9356DC;
  }
  100% {
    color: #FF79DA;
  }
}

@-webkit-keyframes colorfood {
  0% {
    color: #000000;
  }
  20% {
    color: #9356DC;
  }
  85% {
    color: #FF79DA;
  }
  100% {
    color: #FF79DA;
  }
}

@keyframes colorfood {
  0% {
    color: #000000;
  }
  20% {
    color: #9356DC;
  }
  85% {
    color: #FF79DA;
  }
  100% {
    color: #FF79DA;
  }
}

/*HEADER RESTAURANTS*/
.headeralt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px 10px 0px;
  background-color: #FFF;
}

.headeralt__fleche {
  position: relative;
  right: 70px;
}

/*IMAGE RESTAURANT*/
.contphoto__img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*PARTIE MENUS*/
.cont-menus {
  margin: -50px 0px 0px 0px;
  border-radius: 30px 30px 0px 0px;
  position: relative;
  background-color: #f6f6f6;
}

.titrecoeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 576px) {
  .titrecoeur {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.titrecoeur__titre {
  font-family: "Shrikhand";
  font-size: 26px;
  margin: 20px 0px 20px 0px;
}

@media (min-width: 576px) {
  .titrecoeur__titre {
    margin: 20px 30px 20px 0px;
  }
}

.titrecoeur__hearts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.titrecoeur__hearts:hover .coeurvide {
  opacity: 0;
  -webkit-transition: 1.1s;
  transition: 1.1s;
}

.titrecoeur__hearts:hover .coeurplein {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.titrecoeur__hearts .coeurvide {
  position: absolute;
  z-index: 2;
  opacity: 1;
  font-size: 22px;
}

.titrecoeur__hearts .coeurplein {
  color: #9356DC;
  position: relative;
  bottom: 1px;
  z-index: 1;
  opacity: 0;
  font-size: 22px;
}

.contboxmenu {
  margin: 0px 20px 0px 20px;
}

@media (min-width: 576px) {
  .contboxmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.titremenus {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}

.titremenus::before {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  bottom: -8px;
}

.boxmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFF;
  height: 65px;
  border-radius: 25px;
  margin: 12px 0px 12px 0px;
  -webkit-box-shadow: 1px 5px 5px #e6e6e6;
          box-shadow: 1px 5px 5px #e6e6e6;
  cursor: pointer;
  overflow: hidden;
}

@media (min-width: 576px) {
  .boxmenu {
    width: 80%;
  }
}

.boxmenu__contgauche {
  overflow: hidden;
}

.boxmenu__titre {
  font-size: 17px;
  margin: 5px 0px 5px 0px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.boxmenu__sstitre {
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0px 5px 0px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.boxmenu__contdroite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.boxmenu__prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0px 25px 10px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.boxmenu__logocheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  color: white;
  height: 100%;
  width: 0px;
  border-radius: 0px 25px 25px 0px;
  visibility: hidden;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.boxmenu:nth-child(2) {
  -webkit-animation: popmenu 2s 0.3s backwards;
          animation: popmenu 2s 0.3s backwards;
}

.boxmenu:nth-child(3) {
  -webkit-animation: popmenu 2s 0.6s backwards;
          animation: popmenu 2s 0.6s backwards;
}

.boxmenu:nth-child(4) {
  -webkit-animation: popmenu 2s 0.9s backwards;
          animation: popmenu 2s 0.9s backwards;
}

.boxmenu:nth-child(5) {
  -webkit-animation: popmenu 2s 1.2s backwards;
          animation: popmenu 2s 1.2s backwards;
}

.boxmenu:hover .boxmenu__logocheck {
  visibility: visible;
  width: 60px;
}

.boxmenu:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

@-webkit-keyframes popmenu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes popmenu {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*FOOTER*/
footer {
  background-color: #353535;
  color: #FFF;
  font-size: 14px;
}

.contfoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 20px;
}

@media (min-width: 576px) {
  .contfoot {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contfoot__logo {
  color: #FFF;
  font-family: "Shrikhand";
  font-size: 20px;
}

@media (min-width: 576px) {
  .contfoot__logo {
    margin-right: 30px;
  }
}

.contfoot__logotxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contfoot__logotxt:hover {
  color: #9356DC;
  cursor: pointer;
}

@media (min-width: 576px) {
  .contfoot__logotxt {
    margin-right: 20px;
  }
}

.contfoot__txt {
  margin: 7px 0px 7px 0px;
}

.contfoot__txt:hover {
  color: #9356DC;
  cursor: pointer;
}

@media (min-width: 576px) {
  .contfoot__txt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contfoot a:hover {
  color: #9356DC;
}

.logofooter {
  margin-right: 10px;
}

address {
  margin: 7px 0px 7px 0px;
}

@media (min-width: 576px) {
  address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
  }
}

address a {
  color: #FFF;
}

/*HEADER MAIN*/
.headermain {
  background-color: #FFF;
}

.headermain__img {
  width: 180px;
}

.headermain__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 8px 8px 8px;
  margin: 0px 0px 10px 0px;
}

.headermain__loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 -5px 5px -5px #979797;
          box-shadow: 0 -5px 5px -5px #979797;
}

.headermain__ville {
  font-size: 15px;
  margin-left: 8px;
}

/*PARTIE INTRO*/
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding: 10px 0px 40px 0px;
}

.intro__titre {
  font-weight: bold;
  font-size: 25px;
  padding: 10px 50px 0px 50px;
  text-align: center;
}

.intro__sstitre {
  font-weight: 300;
  text-align: center;
  margin-top: 0px;
  padding: 0px 30px 0px 30px;
  color: #7e7e7e;
}

/*PARTIE FONCTIONNEMENT*/
.partfonction {
  margin: 40px 0px 40px 0px;
  padding: 20px 0px 40px 0px;
  background-color: #FFF;
}

@media (min-width: 576px) {
  .partfonction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.partfonction__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  margin: 20px 40px 20px 40px;
  border-radius: 17px;
  height: 55px;
  -webkit-box-shadow: 1px 5px 5px #e6e6e6;
          box-shadow: 1px 5px 5px #e6e6e6;
  position: relative;
  z-index: 1;
}

@media (min-width: 576px) {
  .partfonction__box {
    width: 70%;
  }
}

.partfonction__box:hover {
  cursor: pointer;
}

.partfonction__box:hover::after {
  opacity: 1;
}

.partfonction__box:hover .logo {
  color: #9356DC;
}

.partfonction__box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f5edff;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  border-radius: 17px;
}

.partfonction__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356DC;
  width: 20px;
  color: #FFF;
  border-radius: 20px;
  position: relative;
  right: 7px;
}

.partfonction__txt {
  font-size: 15px;
}

.partfonction__box .logo {
  color: #7e7e7e;
  margin: 0px 25px 0px 20px;
}

/*TITRES PARTIES*/
.titres-parties {
  margin-left: 25px;
}

@media (min-width: 576px) {
  .titres-parties {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.partrestos .titres-parties {
  margin-bottom: 10px;
}

/*PARTIE RESTAURANTS*/
.cont-resto-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .cont-resto-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.partrestos {
  margin: 50px 0px 50px 0px;
  background-color: #f6f6f6;
}

.resto-box {
  margin: 20px 0px 20px 0px;
  background-color: #FFF;
  border-radius: 15px;
  -webkit-box-shadow: 1px 4px 4px #e4e3e3;
          box-shadow: 1px 4px 4px #e4e3e3;
}

@media (min-width: 576px) {
  .resto-box {
    margin: 20px 10px 20px 10px;
  }
}

@media (min-width: 992px) {
  .resto-box {
    margin: 20px 25px 20px 25px;
  }
}

.resto-box__imgetnouv {
  height: 165px;
}

.resto-box__imgbox {
  width: 330px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.resto-box__vignettes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 55px;
  padding: 0px 15px 10px 15px;
}

.resto-box__txtnew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #199677;
  background-color: #99E2D0;
  width: 80px;
  height: 30px;
  position: relative;
  left: 230px;
  bottom: 160px;
}

.resto-box__titre {
  position: relative;
  top: 10px;
}

.resto-box__sstitre {
  margin: 0px 0px 5px 0px;
  position: relative;
  bottom: 7px;
}

.resto-box__hearts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.resto-box__hearts:hover .coeurvide {
  opacity: 0;
  -webkit-transition: 1.1s;
  transition: 1.1s;
}

.resto-box__hearts:hover .coeurplein {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.resto-box__hearts .coeurvide {
  position: absolute;
  z-index: 2;
  opacity: 1;
  font-size: 22px;
}

.resto-box__hearts .coeurplein {
  color: #9356DC;
  position: relative;
  bottom: 1px;
  z-index: 1;
  opacity: 0;
  font-size: 22px;
}
/*# sourceMappingURL=main.css.map */