@import "./directory/base/base";
@import "./directory/pages/pages";

.img-box {
    width: 300px;
}

.img_logo {
    width: 180px;
}

.headermain__logo {
    display: flex;
    justify-content: center;
    padding: 8px;
    margin: 10px 0px 10px 0px;
}

.headermain__loc {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #eaeaea;
    box-shadow: 0 -5px 5px -5px rgb(151, 151, 151);
}
.headermain__ville {
    font-size: 15px;
    margin-left: 8px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;

    &__titre {
        font-weight: bold;
        font-size: 25px;
        padding: 10px 30px 0px 30px;
        text-align: center;
    }

    &__sstitre {
        font-weight: 300;
        text-align: center;
        margin-top: 0px;
        color: #838383;
    }
}