@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shrikhand';
  src: url("../fonts/Shrikhand-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0px;
  font-family: 'Roboto';
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-top: 10px;
  padding: 17px;
  border-radius: 25px;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  border: none;
  font-size: 14px;
  -webkit-box-shadow: 1px 4px 4px #d8d7d7;
          box-shadow: 1px 4px 4px #d8d7d7;
}

.btn:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0.85;
  -webkit-box-shadow: 1px 4px 4px 0.5px #adadad;
          box-shadow: 1px 4px 4px 0.5px #adadad;
}

.btncmd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0px 40px 0px;
}

.btncmd .btn {
  width: 200px;
}

.headeralt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px 10px 0px;
  background-color: white;
}

.headeralt__fleche {
  position: relative;
  right: 70px;
}

.contphoto__img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cont-menus {
  margin: 0px 20px 0px 20px;
}

.titrecoeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.titrecoeur__titre {
  font-family: "Shrikhand";
  font-size: 28px;
}

.titremenus {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 300;
}

.boxmenu {
  background-color: white;
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
  margin: 10px 0px 10px 0px;
}

.boxmenu__titre {
  font-size: 17px;
  margin: 5px 0px 5px 0px;
}

.boxmenu__sscont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boxmenu__sstitre {
  font-size: 14px;
  font-weight: 300;
  margin: 5px 0px 5px 0px;
}

footer {
  background-color: #353535;
  color: white;
  font-size: 14px;
}

.contfoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 20px;
}

.contfoot__logo {
  color: white;
  font-family: "Shrikhand";
  font-size: 20px;
}

.contfoot__logotxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contfoot__logotxt:hover {
  color: #9356DC;
}

.contfoot__txt {
  margin: 7px 0px 7px 0px;
}

.contfoot__txt:hover {
  color: #9356DC;
}

.contfoot a:hover {
  color: #9356DC;
}

.logofooter {
  margin-right: 10px;
}

address {
  margin: 7px 0px 7px 0px;
}

address a {
  color: white;
}

.partfonction {
  margin: 40px 0px 40px 0px;
  padding: 20px 0px 40px 0px;
  background-color: white;
}

.partfonction__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  margin: 20px 40px 20px 40px;
  border-radius: 17px;
  height: 55px;
  -webkit-box-shadow: 1px 5px 5px #e6e6e6;
          box-shadow: 1px 5px 5px #e6e6e6;
  position: relative;
  z-index: 1;
}

.partfonction__box:hover::after {
  opacity: 1;
}

.partfonction__box:hover .logo {
  color: #9356DC;
}

.partfonction__box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f5edff;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  border-radius: 17px;
}

.partfonction__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9356DC;
  width: 20px;
  color: white;
  border-radius: 20px;
  position: relative;
  right: 7px;
}

.partfonction__txt {
  font-size: 15px;
}

.partfonction__box .logo {
  color: #7e7e7e;
  margin: 0px 25px 0px 20px;
}

.titres-parties {
  margin-left: 25px;
}

.partrestos .titres-parties {
  margin-bottom: 10px;
}

.cont-resto-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partrestos {
  margin: 50px 0px 50px 0px;
  background-color: #f6f6f6;
}

.resto-box {
  margin: 20px 0px 20px 0px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 1px 4px 4px #e4e3e3;
          box-shadow: 1px 4px 4px #e4e3e3;
}

.resto-box__imgetnouv {
  height: 165px;
}

.resto-box__imgbox {
  width: 330px;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.resto-box__vignettes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 55px;
  padding: 0px 15px 10px 15px;
}

.resto-box__txtnew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #199677;
  background-color: #99E2D0;
  width: 80px;
  height: 30px;
  position: relative;
  left: 230px;
  bottom: 160px;
}

.resto-box__titre {
  position: relative;
  top: 10px;
}

.resto-box__sstitre {
  margin: 0px 0px 5px 0px;
  position: relative;
  bottom: 7px;
}

.headermain {
  background-color: #ffffff;
}

.headermain__img {
  width: 180px;
}

.headermain__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 8px 8px 8px;
  margin: 0px 0px 10px 0px;
}

.headermain__loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  background-color: #eaeaea;
  -webkit-box-shadow: 0 -5px 5px -5px #979797;
          box-shadow: 0 -5px 5px -5px #979797;
}

.headermain__ville {
  font-size: 15px;
  margin-left: 8px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding: 10px 0px 40px 0px;
}

.intro__titre {
  font-weight: bold;
  font-size: 25px;
  padding: 10px 50px 0px 50px;
  text-align: center;
}

.intro__sstitre {
  font-weight: 300;
  text-align: center;
  margin-top: 0px;
  padding: 0px 30px 0px 30px;
  color: #838383;
}
/*# sourceMappingURL=main.css.map */