.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 10px;
    padding: 17px;
    border-radius: 25px;
    background: $colorbtn;
    border: none;
    font-size: 14px;
    box-shadow: 1px 4px 4px #d8d7d7;

    &:hover {
        transition-duration: 0.3s;
        opacity: 0.85;
        @include moreshadow;
    }
}

.btncmd {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:30px 0px 40px 0px;
}

.btncmd .btn {
    width: 200px;
}